{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} {{ Actividad }} {% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tarea_detail.css' %}">
<a class="atras" title="Volver" href="{% url 'tareas:agenda' %}"><i class="fa fa-chevron-left" aria-hidden="true"></i> </a>

<div id="tarea_detail">
	<div id="cabecera">
		<div>
			<h3>Tareas para el dia {{ tarea.Fecha }}  </h3>
		</div>
		
			{% if vencimiento %}
			<div class="vencido">
				{{ sms }}
			</div> 
			{% else %}
			<div class="novencido">
				{{ sms }}
			</div> 
			{% endif%}
		
	</div>
	<div>
		<label>Titulo: </label> 
		<label>{{ tarea.Titulo }}</label> 
	</div>
	<div>
		<label>Descipción: </label>
		<label>{{ tarea.Description }}</label>
	</div>
	<div>
		<label>Actividad para el dia :</label>
		<label> {{ tarea.Fecha }} y Hora : {{ tarea.Hora}}</label>
		<label>| Status: {% if tarea.Status %} 
				 			Lista
						{% else %}
							Pendiente
						{% endif %}
				</label>
	</div>
	<div class="herramientas">
		<a href="{% url 'tareas:tarea_editar' tarea.pk %}" title="Editar"><i class="fa fa-pencil"></i></a>
		<a href="" title="Eliminar"><i class="fa fa-trash"></i></a>
		<a href="{% url 'tareas:crear' %}" title="Agregrar ortra"><i class="fa fa-plus"></i></a>
		
	</div>
</div>

{% endblock %}
