{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Nueva Tarea {% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/tarea_create.css' %}">
<a class="atras" title="Volver" href="{% url 'tareas:agenda' %}"><i class="fa fa-chevron-left" aria-hidden="true"></i> </a>
<form method="post" class="update">
	<div><h3> Editar tus datos: </h3></div>
		{% csrf_token %}
		<!-- {{ form.as_p }} -->
		<div><label> Nickname: </label>{{ form.username }} {{form.username.errors }}</div>
		<div><label> Nombres: </label>{{  form.first_name }} {{form.first_name.errors }} </div>
		<div><label> Apellidos: </label> {{  form.last_name }} {{form.last_name.errors }} </div>
		<div><label> Email: </label>{{ form.email }} {{form.email.errors }}</div>

		<div><label> Contraseña: </label><input type="password" name="password" value=""> {{ form.password.errors }}</div>

		<div class="herramientas"><input type="submit" name="enviar" value="Actualizar"></div>
</form>
{% endblock %}